# Ignore byte-compiled Python code
*.py[cod]

# Ignore directories created during the build/installation process
*.egg-info/
build/

# Ignore virtual environment
venv/

# Ignore results folder
results/

# Ignore distribution folder
dist/

# Ignore mujoco outputs
MUJOCO_LOG.TXT